<main class="flex flex-col grow gap-4 bg-white p-4 rounded-lg shadow-md">                                                                                                                                                                 
    <!-- Toolbar controls -->                                                                                                                                                                                  
    <div class="flex justify-between items-center gap-4">                                                                                                                                            
      <!-- Search bar -->      
      <div class="flex items-center gap-3"> 
        <div class="flex flex-col gap-1.5 w-40">     
          <!-- <label class="text-zinc-700/80 text-xs">Search</label>                                                                                                                                                                          -->
          <input                                                                                                                                                                                                 
            type="text"                                                                                                                                                                                          
            class="input-theme"                                                                                                                                                                                  
            placeholder="Search ticker or name..."                                                                                                                                                               
            [value]="searchQuery()"                                                                                                                                                                              
            (input)="onSearchInput($event)"                                                                                                                                                                      
          >                                                                                                                                                                                                      
        </div>   
                                                                                                                                                                                                       
        <div class="w-40 hidden">
          <input                                                                                                                                                                                                   
          type="date"                                                                                                                                                                                            
          class="input-theme cursor-pointer font-sans text-xs"                                                                                                                                                   
          [value]="selectedDate()"                                                                                                                                                                               
          [max]="maxDate"                                                                                                                                                                                        
          (change)="onDateChange($event)"                                                                                                                                                                        
        >         
        </div>

        <div class="h-4 w-px bg-zinc-300"></div>
        
        <div class="flex flex-col gap-1.5 text-xs w-40">
          <!-- <label class="text-zinc-700/80">Index</label> -->
          <select class="input-theme cursor-pointer !w-auto py-1 px-2 font-medium" [value]="selectedIndex()"
            (change)="onIndexSelect($event)">
            @for (idx of indicesList; track idx) {
            <option [value]="idx">{{ idx }}</option>
            }
          </select>
        </div>

        <div class="flex flex-col gap-1.5 text-xs w-40">
          <!-- <label class="text-zinc-700/80">Sector</label> -->
          <select class="input-theme cursor-pointer !w-auto py-1 px-2 font-medium" [value]="selectedSector()"
            (change)="onSectorSelect($event)">
            <option value="All">All Sectors</option>
            @for (sec of sectorPerformances(); track sec.sector) {
            <option [value]="sec.sector">
              {{ sec.sector }} ({{ sec.avgChange >= 0 ? '+' : '' }}{{ sec.avgChange }}%)
            </option>
            }
          </select>
        </div>

      </div>
                                                                                                                                                                                                                
      <div class="flex items-center gap-6 flex-wrap text-xs">                                                                                                                                                  
        <!-- Views toggles -->                                                                                                                                                                                 
        <div class="flex items-center gap-2">                                                                                                                                                                
          <span class="text-zinc-700/80">View</span>                                                                                                                                                           
          <div class="tab-wrapper-theme">                                                                                                                                                                      
            <button class="tab-item-theme" [class.active]="viewMode() === 'grid'" (click)="setViewMode('grid')">Heatmap</button>                                                                               
            <button class="tab-item-theme" [class.active]="viewMode() === 'list'" (click)="setViewMode('list')">List</button>                                                                                  
            <button class="tab-item-theme" [class.active]="viewMode() === 'sectors'" (click)="setViewMode('sectors')">Sectors</button>                                                                         
          </div>                                                                                                                                                                                               
        </div>                                                                                                                                                                                                 
                                                                                                                                                                                                                
        <!-- Sorting triggers -->                                                                                                                                                                              
        @if (viewMode() !== 'sectors') {                                                                                                                                                                       
          <div class="flex items-center gap-2">                                                                                                                                                              
            <span class="text-zinc-700/80">Sort</span>                                                                                                                                                         
            <div class="tab-wrapper-theme">                                                                                                                                                                    
              <button class="tab-item-theme" [class.active]="sortBy() === 'change'" (click)="setSortBy('change')">Change</button>                                                                              
              <button class="tab-item-theme" [class.active]="sortBy() === 'symbol'" (click)="setSortBy('symbol')">Ticker</button>                                                                              
              <button class="tab-item-theme" [class.active]="sortBy() === 'price'" (click)="setSortBy('price')">Price</button>                                                                                 
              <button class="tab-item-theme" [class.active]="sortBy() === 'marketCap'" (click)="setSortBy('marketCap')">Mcap</button>                                                                          
            </div>                                                                                                                                                                                             
          </div>                                                                                                                                                                                               
        }                                                                                                                                                                                                      
      </div>                                                                                                                                                                                                   
    </div>                                                                                                                                                                                                     
                                                                                                                                                                                                                
    <!-- 1. Heatmap  -->                                                                                                                                                                         
    @if (viewMode() === 'grid') {                                                                                                                                                                              
      <app-heatmap-grid                                                                                                                                                                                        
        [stocks]="filteredStocks()"                                                                                                                                                                            
      ></app-heatmap-grid>                                                                                                                                                                                     
    }                                                                                                                                                                                                          
                                                                                                                                                                                                                
    <!-- 2. List -->                                                                                                                                                                                
    @if (viewMode() === 'list') {                                                                                                                                                                              
      <div class="table-list overflow-x-auto border border-zinc-300 rounded-md grow max-h-[85vh]">                                                                                                 
        <table class="w-full text-left text-xs border-collapse">                                                                                                                                               
          <thead class="sticky top-0">                                                                                                                                                                                              
            <tr class="border-b border-zinc-300 text-slate-500 font-semibold bg-zinc-200 z-30">                                                                                                                
              <th class=" cursor-pointer hover:text-slate-300" (click)="setSortBy('symbol')">Ticker</th>                                                                                                  
              <th class="">Company Name</th>                                                                                                                                                              
              <th class="">Sector</th>                                                                                                                                                                    
              <th class=" cursor-pointer hover:text-slate-300 text-right" (click)="setSortBy('change')">Change (%)</th>  
              <th class=" cursor-pointer hover:text-slate-300 text-right" (click)="setSortBy('change')">1W Change (%)</th>                                                                                   
              <th class=" cursor-pointer hover:text-slate-300 text-right" (click)="setSortBy('price')">Price (IDR)</th>                                                                                   
              <th class="text-center">52W Range</th>                                                                                                                                         
              <th class=" text-right">Volume</th>            
              <th class="text-right">Price x Vol</th>    
              <th class=" cursor-pointer hover:text-slate-300 text-right" (click)="setSortBy('marketCap')">Market Cap</th>                                                                                
              <!-- <th class="p-3.5 text-center">Trend</th>                                                                                                                                                          -->
            </tr>                                                                                                                                                                                              
          </thead>                                                                                                                                                                                             
          <tbody>                                                                                                                                                                                              
            @for (stock of filteredStocks(); track stock.symbol) {                                                                                                                                             
              <tr class="border-b border-zinc-300 hover:bg-cream-50 cursor-pointer transition-all text-zinc-800 even:bg-zinc-100/50">                                                                                                       
                <td class="font-bold uppercase">{{ stock.symbol }}</td>                                                                                                                   
                <td class="max-w-50 truncate">{{ stock.name }}</td>                                                                                                                  
                <td class="text-zinc-700/70">{{ stock.sector }}</td>     

                <td class="text-right font-semibold" 
                  [class.text-emerald-500]="stock.change >= 0" 
                  [class.text-rose-500]="stock.change < 0"
                  [class.text-slate-400]="stock.change == 0"
                  >                                                    
                  {{ stock.change >= 0 ? '+' : '' }}{{ stock.change | number:'1.2-2' }}%                                                                                                                       
                </td>    
                
                <td class="text-right font-semibold"                                                                                                                                                               
                  [class.text-emerald-500]="(stock.change1w || 0) >= 0"                                                                                                                                                      
                  [class.text-rose-500]="(stock.change1w || 0) < 0"                                                                                                                                                          
                  [class.text-slate-400]="(stock.change1w || 0) == 0">                                                                                                                                                       
                  {{ (stock.change1w || 0) >= 0 ? '+' : '' }}{{ (stock.change1w || 0) | number:'1.2-2' }}%                                                                                                                   
                </td>   

                <td class="text-right text-zinc-800  font-medium">{{ stock.price | number }}</td>                                                                                                             
                <td class="text-center  text-xs">                                                                                                                                                                   
                  <div class="flex flex-col items-center gap-1 mx-auto w-32">                                                                                                                                                
                    <div class="flex justify-between w-full text-[10px] text-zinc-500 font-medium">                                                                                                                          
                      <span class="text-rose-700">{{ (stock.fiftyTwoWeekLow || stock.price) | number }}</span>                                                                                                                                     
                      <span class="text-emerald-700">{{ (stock.fiftyTwoWeekHigh || stock.price) | number }}</span>                                                                                                                                    
                    </div>                                                                                                                                                                                                   
                    <!-- Range Progress Bar -->                                                                                                                                                                              
                    <div class="w-full h-1.5 bg-zinc-200 rounded-full overflow-visible">                                                                                                                                      
                      <div                                                                                                                                                                                                   
                        class="h-full bg-olive-500/60 rounded-l-full transition-all duration-300 relative overflow-visible"                                                                                                                                  
                        [style.width.%]="get52WeekPosition(stock.price, stock.fiftyTwoWeekLow, stock.fiftyTwoWeekHigh)"                                                                                                      
                      >
                      <div class="absolute right-0 abs-y-center h-3 w-0.5 bg-olive-500/60"></div>
                      </div>                                                                                                                                                                                                
                    </div>                                                                                                                                                                                                   
                  </div>                                                                                                                                                                                                     
                </td> 
                <td class="text-right text-zinc-700/70">{{ stock.volume | number }}</td>         
                <td class="text-right font-mono text-zinc-800 font-medium">                                                                                                                                               
                  @if (stock.price * stock.volume >= 1e12) {                                                                                                                                                                 
                    Rp {{ (stock.price * stock.volume) / 1e12 | number:'1.2-2' }} T                                                                                                                                          
                  } @else if (stock.price * stock.volume >= 1e9) {                                                                                                                                                           
                    Rp {{ (stock.price * stock.volume) / 1e9 | number:'1.2-2' }} B                                                                                                                                           
                  } @else {                                                                                                                                                                                                  
                    Rp {{ (stock.price * stock.volume) | number }}                                                                                                                                                           
                  }                                                                                                                                                                                                          
                </td>                                      
                
                
                <td class="text-right font-mono text-zinc-700/70 font-medium">Rp {{ stock.marketCap / 1e12 | number:'1.1-2' }} T</td>                                                                      
                <!-- <td class="p-3.5 flex justify-center">                                                                                                                                                         
                  <svg width="100" height="24" viewBox="0 0 120 40" class="overflow-visible" preserveAspectRatio="none">                                                                                       
                    <polyline                                                                                                                                                                                  
                      fill="none"                                                                                                                                                                              
                      [attr.stroke]="stock.change >= 0 ? '#10b981' : '#f43f5e'"                                                                                                                                
                      stroke-width="3"                                                                                                                                                                         
                      [attr.points]="getSparklinePoints(stock.history)"                                                                                                                                        
                    />                                                                                                                                                                                         
                  </svg>                                                                                                                                                                                       
                </td>                                                                                                                                                                                           -->
              </tr>                                                                                                                                                                                            
            }                                                                                                                                                                                                  
          </tbody>                                                                                                                                                                                             
        </table>                                                                                                                                                                                               
      </div>                                                                                                                                                                                                   
    }                                                                                                                                                                                                          
                                                                                                                                                                                                                
    <!-- 3. Sectors Card -->                                                                                                                                                                    
    @if (viewMode() === 'sectors') {                                                                                                                                                                           
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 grow auto-rows-max">                                                                                                               
        @for (sec of sectorPerformances(); track sec.sector) {                                                                                                                                                 
          <div                                                                                                                                                                                                 
            class="bg-zinc-100 border border-zinc-200 hover:border-zinc-300 rounded-lg py-3 px-3.5 cursor-pointer transition-all flex flex-col gap-3"                                                            
            (click)="onSelectSector(sec.sector); setViewMode('grid')"                                                                                                                                          
          >               
            <div class="flex gap-3 items-center">
              <div>
                <img 
                  class="h-8 rounded-full object-contain opacity-90" 
                  [src]="getSectorLogo(sec.sector)"
                  [alt]="sec.sectorDesc">
              </div>
              <div class="flex flex-col gap-0">
                <h3 class="font-bold text-md text-zinc-700">{{ sec.sector }}</h3>  
                <label class="font-normal text-sm text-zinc-500">{{ sec.sectorDesc }}</label>                                                                                                                             
              </div>
              <span                                                                                                                                                                                                          
                class="text-[13px] font-medium rounded-full px-2 py-0.5 h-max ml-auto mb-auto"                                                                                                                                                           
                [class]="sec.avgChange >= 0 ? 'bg-emerald-500/10 text-emerald-600' : 'bg-rose-500/10 text-rose-600'">                                                                                                        
                {{ sec.avgChange >= 0 ? '+' : '' }}{{ sec.avgChange }}%                                                                                                                                                      
              </span>  
            </div>
          
            <div class="flex gap-1 text-xs gap-2">
              <span class="text-zinc-600">{{ sec.count }} stocks</span>
              <span class="text-zinc-500">•</span>
              <div class="flex gap-2.5">
                  <span class="text-emerald-600">↗︎ {{ sec.advancing }}</span>
                  <span class="text-rose-600">↘︎ {{ sec.declining }}</span>
              </div>
            </div>

            <div class="relative pt-2 border-t border-zinc-200/90">                                                                                                                                                                                                                                                                                                                                                            
              <div class="flex flex-wrap gap-1.5 max-h-[85px] overflow-y-auto pb-4 pr-1">                                                                                                                                 
                @for (stock of getStocksForSector(sec.sector); track stock.symbol) {                                                                                                                                       
                  <div class="flex items-center gap-1.5 px-2 py-1 bg-white border border-zinc-200/80 rounded-md text-xs">                                                                                                  
                    <span class="font-normal text-zinc-700">{{ stock.symbol }}</span>                                                                                                                                      
                    <span                                                                                                                                                                                                  
                      class="font-semibold text-[11px]"                                                                                                                                                                    
                      [class]="stock.change >= 0 ? 'text-emerald-600' : 'text-rose-600'">                                                                                                                                  
                      {{ stock.change >= 0 ? '+' : '' }}{{ stock.change }}%                                                                                                                                                
                    </span>                                                                                                                                                                                                
                  </div>                                                                                                                                                                                                   
                }                                                                                                                                                                                                          
              </div>                                                                                                                                                                                                       
                                                                                                                                                                                                                            
              <!-- Fade Gradient overlay  -->                                                                                                                                                                     
              <div class="absolute bottom-0 left-0 right-0 h-10 bg-gradient-to-t from-zinc-100 to-transparent pointer-events-none"></div>                                                                                                                                                                                                                                                                                                    
            </div>                    

          </div>                                                                                                                                                                                               
        }                                                                                                                                                                                                      
      </div>                                                                                                                                                                                                   
    }                                                                                                                                                                                                          
  </main>                              