<header class="flex justify-between items-center flex-wrap gap-4 pb-3 border-b border-zinc-300/60">                                                                                  
  <h1 class="text-xl font-bold tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-indigo-500 font-display">                                     
    Logo
  </h1>                                                                                                                                                                                                                                               
</header>  